.cover__link {
    text-decoration: none;
    background-image: url(../../../images/cover-trains.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 740px;
}

.cover__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2a2c2f;
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

.cover__link:hover::before {
    opacity: 0.8;
}

.cover__link:hover {
    opacity: 1;
}

@media screen and (max-width: 1279px) {
    .cover__link {
        min-height: 58vw;
    }
}

@media screen and (max-width: 1023px) {
    .cover__link {
        min-height: 63vw;
    }
}

@media screen and (max-width: 320px) {
    .cover__link {
        min-height: 200px;
    }
}