.place__link {
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.22;
    text-decoration-line: underline;
    color: white;
    transition: opacity 0.3s ease;
}

.place__link:hover {
    opacity: 0.8;
}